<!-- Ultradent Orange -->
<h1 style="font-size: 26px; line-height:34px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #E35205; color: #E35205;">Heading 1</h1>
<h2 style="font-size: 20px; line-height:24px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #E35205; color: #E35205;">Heading 2</h2>
<h3 style="font-size: 16px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #E35205; color: #E35205;">Heading 3</h3>

<a href="" target="_blank" style="font-size:14px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #E35205; color:#E35205; text-decoration:none;">Link</a>


<!-- Ultradent Elite Bronze -->
<h1 style="font-size: 26px; line-height:34px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #af662c; color: #af662c;">Heading 1</h1>
<h2 style="font-size: 20px; line-height:24px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #af662c; color: #af662c;">Heading 2</h2>
<h3 style="font-size: 16px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #af662c; color: #af662c;">Heading 3</h3>

<a href="" target="_blank" style="font-size:14px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #af662c; color:#af662c; text-decoration:none;">Link</a>


<!-- In the Loop Blue -->
<h1 style="font-size: 26px; line-height:34px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #0075ab; color: #0075ab;">Heading 1</h1>
<h2 style="font-size: 20px; line-height:24px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #0075ab; color: #0075ab;">Heading 2</h2>
<h3 style="font-size: 16px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #0075ab; color: #0075ab;">Heading 3</h3>

<a href="" target="_blank" style="font-size:14px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #0075ab; color:#0075ab; text-decoration:none;">Link</a>

<!-- Gray Regular text -->
<h4 style="font-size: 16px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #535353; color: #535353; text-transform: uppercase;">Heading 4</h4>
<h5 style="font-size: 16px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #535353; color: #535353;">Heading 5</h5>
<h6 style="font-size: 16px; font-weight: 300; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #535353; color: #535353; text-transform: uppercase;">Heading 6</h6>

<p style="font-size:14px; line-height:18px; font-family: Source Sans Pro, Helvetica, arial, sans-serif; text-align: left; font-color: #535353; color: #535353;">Paragraph</p>