 <!--************************* -->
 <!--************************* -->
<!-- Start of Hero with Mobile -->
 <!--************************* -->
 <!--************************* -->
<table width="580" cellpadding="0" cellspacing="0" border="0" class="mobileOff" bgcolor="#FFFFFF">
    <tr>
      <td align="center">
        <table width="580" cellpadding="0" cellspacing="0" border="0" class="container">
          <tr>
            <td width="580" class="mobile">
              <a href="https://www.ultradent.com" target="_blank" style="padding:0; margin:0; "><img
                  width="580" height="275" style="margin:0; padding:0;display:block; color:#fff;"
                  name="Cont_37" class="hero" src="http://placehold.it/580x275"
                  alt="Opalescence used around the globe"></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!--[if !mso]><!-- -->
  <div class="mobileOn" style="font-size: 0; max-height: 0; overflow: hidden; display: none">
    <table width="375" cellspacing="0" cellpadding="0" border="0" class="wrapper" align="center">
      <tr>
        <td align="center">
          <img src="http://placehold.it/375x270" width="375" height="270"
            style="margin:0; padding:0; border:none; display:block;" border="0" alt="" />
        </td>
      </tr>
    </table>
  </div>
  <!--<![endif]-->
  <!--************************* -->
 <!--************************** -->
  <!-- End of Hero  with Mobile -->
  <!--************************* -->
 <!--************************** -->